@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //this is what data is set for the title of the webpage and the text within a header tag in the _Layout file
    // This is our default page

    ViewData["Title"] = "Homepage";
    ViewData["Text"] = "Some info about me!";
}


<img src="~/img/doingSomethingFun.jpg" width="50%" height="50%" /><br /><br />
<h2>What I Hope to Get Out of IS 413</h2>

<!--What I hope to get out of class paragraph-->
<p>
    IS 413 is one with a daunting reputation. The first day of class
    we were shown a picture of an intricate airplane that was intended to
    replicate the complexity of the language we would be learning. I
    hope to get out of this class an affirmation that regardless of how
    intense the plane, I can learn to fly. IS 413 will hopefully make me, as
    the professors love to say, <i>dangerous</i>.
</p>

<!--top 3 jobs req-->
<h2>Top 3 jobs after I graduate:</h2>
<ul>
    <li>Technical Consultant</li>
    <li>Data Analyst</li>
    <li>Data Engineer</li>
</ul>
