header {
    text-align: center;
    font-size:xx-large;
    text-decoration:solid;
    text-decoration-line:overline;
    text-decoration: double;
    font-family:Algerian;
}
/*This changes thead header tag as per req for at least one thing*/